<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b796"><div class="u-clearfix u-sheet u-sheet-1">
  <p class="u-text u-text-1">Please contact us if you have any questions!<br>
    <a href="http://www.yliuu.com/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1" target="_blank">Yang Liu</a> &lt;<a href="mailto:yangliu@ucsc.edu" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-2">yangliu@ucsc.edu</a>&gt;<br>
    <a href="https://users.soe.ucsc.edu/~zhaoweizhu/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3" target="_blank">Zhaowei Zhu</a> &lt;<a href="mailto:zwzhu@ucsc.edu" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-4">zwzhu@ucsc.edu</a>&gt;
  </p>
</div></footer>
