<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile id="form">
    <mat-card class = 'content'>
      <h1>Data Requirements</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non scelerisque dui, non ornare nisi. Nam laoreet pulvinar quam quis fermentum. Etiam efficitur leo sed egestas tempus. Curabitur eu condimentum nibh, in efficitur ligula. Donec vehicula dolor eu risus pulvinar, vel mollis est maximus. Curabitur erat quam, porta eu est sit amet, vestibulum sollicitudin purus. Cras id lacus sed magna pretium interdum in in erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque porttitor sed risus sed tempor. Aliquam posuere ipsum ipsum, non pharetra nisl scelerisque vel.
      </p>
      <p>
        <mat-list>
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
        </mat-list>
      </p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile id ="content">
    <mat-card>
      <img src="https://via.placeholder.com/300/09f/fff.png/">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
