<mat-grid-list cols="6" gutterSize="30px" style="margin: 30px">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"

  >
    <mat-card>
      <h1 >Demo for HOC</h1>
      <h3 >Estimating the noise transition matrix based on High-Order-Consensus (HOC) of noisy labels</h3>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
  >
    <mat-card>
      <mat-card-title>Upload</mat-card-title>
      In the upload page, we will aks you to upload 2 *.npy file.
      <br>
      <button mat-button color="accent"><mat-icon>cloud_upload</mat-icon> Upload</button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
  >
    <mat-card class="card-style">
      <mat-card-title>Noise Transition Matrix</mat-card-title>
      <div style="font-size: 14px">
      You will get the noise transition matrix estimated by our method,<b> HOC</b>.
      </div>
      <div style="font-size: 14px">
        Check the definition of Noise Transition Matrix <a href="#" (click)="changeEvent(2)">here</a>!


      </div>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[3].cols"
    [rowspan]="tiles[3].rows"
  >
    <mat-card class="card-style">
      <mat-card-title>Noise Detection</mat-card-title>
      We can also detect noisy labels based on HOC. <a href="#" (click)="changeEvent(3)">Take a look!</a>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[4].cols"
    [rowspan]="tiles[4].rows"
    [style.background]="tiles[6].cols"
  >
    <mat-card class="card-style">
      <mat-card-title>Methodology</mat-card-title>
      Our method is training-free. Check more detailed methodology here!
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[5].cols"
    [rowspan]="tiles[5].rows"
  >
    <mat-card class="card-style">
      <mat-card-title>Contributors</mat-card-title>
      Learn more about our <a>team</a>.
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[6].cols"
    [rowspan]="tiles[6].rows"
  >
    <mat-card class="card-style">
      <mat-card-title>Reference & Contact</mat-card-title>
      Please contact us via <br><b>"zwzhu,zdong14,yangliu"@ucsc.edu</b> <br>If you have any comments or questions!
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
