  <ng-container *ngIf="this.selected.value==0">
    <app-introduction (changePage)="this.changePage($event)"></app-introduction>
  </ng-container>
  <ng-container *ngIf="this.selected.value==1">
    <app-upload [token]="token" (changeToken)="changeToken($event)" (changePage)="this.changePage($event)"></app-upload>
  </ng-container>
  <ng-container *ngIf="this.selected.value==2">
    <app-noise-matrix (changeFile)="changePage($event)" [token]="this.token"></app-noise-matrix>
  </ng-container>
  <ng-container *ngIf="this.selected.value==3">
    <app-detection (changeFile)="changePage($event)" [token]="this.token"></app-detection>
  </ng-container>
  <ng-container *ngIf="this.selected.value==4">
    <app-about-us (ChangePage)="changePage($event)"></app-about-us>
  </ng-container>
