


<mat-tab-group mat-align-tabs="center" backgroundColor="primary" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
  <mat-tab label="Introduction">
    <ng-template matTabContent>
      <app-introduction (changeFile)="changeFile($event)"></app-introduction>
    </ng-template>
  </mat-tab>
  <mat-tab label="Upload">
    <ng-template matTabContent>
      <app-upload (changePage)="changeFile($event)" (featureToken)="changeFeatureFile($event)" (labelToken)="changeLabelFile($event)" [feature]="featureToken" [label]="labelToken"></app-upload>
    </ng-template>
  </mat-tab>
  <mat-tab label="Noise Matrix">
    <ng-template matTabContent>
      <app-noise-matrix (changeFile)="changeFile($event)" [featureFile]='featureToken' [labelFile]="labelToken" ></app-noise-matrix>
    </ng-template>

  </mat-tab>
  <mat-tab label="Noise Detect">
    <ng-template matTabContent>
    <app-detection (changeFile)="changeFile($event)" [featureFile]="featureToken" [labelFile]="labelToken"></app-detection>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<!--<app-dashboard></app-dashboard>-->
