<mat-grid-list cols="4" >
    <mat-grid-tile  colspan="2" rowspan="2" >
      <div class="form">
          <mat-card>
            <mat-card-title>X Train</mat-card-title>
            <mat-form-field appearance="fill">
              <mat-label>Feature File</mat-label>
              <input #FeatureInput hidden (change)="changeFile($event, 'feature')" type="file" accept=".npy" onclick="this.value=null" />
              <input matInput placeholder="Feature File" [value]="this.FeatureFile.name" disabled  />
            </mat-form-field>
            <button mat-button color="primary" (click)="FeatureInput.click()">Feature File</button>
          </mat-card>
      <mat-card>
              <mat-card-title>Y Train</mat-card-title>
              <mat-form-field appearance="fill">
                <mat-label>Label File</mat-label>
                <input #LabelInput hidden (change)="changeFile($event, 'label')" type="file" onclick="this.value=null" accept=".npy" />
                <input matInput placeholder="Label File" [value]="this.LabelFile.name" disabled/>
              </mat-form-field>
              <button mat-button color="primary" (click)="LabelInput.click()">Label File</button>
      </mat-card>
        <mat-card *ngIf="token!=undefined">
          <mat-card-title>YourToken</mat-card-title>
          <mat-form-field appearance="fill">
          <input matInput placeholder="Label File" [value]="this.token" disabled/>
          </mat-form-field>
          <button mat-button color="primary" [cdkCopyToClipboard]="this.token">Copy</button>
        </mat-card>

        <mat-card>
          <mat-card-title>YourToken</mat-card-title>
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="this.enteredToken" placeholder="Token" [value]="this.enteredToken"/>
          </mat-form-field>
          <button mat-button color="primary"   (click)="enterToken($event)">Enter</button>
        </mat-card>
        </div>
    </mat-grid-tile>
<!--    <mat-grid-tile colspan="1" rowspan="1" >-->
<!--    <mat-card>-->
<!--      <mat-card-title>Y Train</mat-card-title>-->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Label File</mat-label>-->
<!--        <input #LabelInput hidden (change)="changeFile($event, 'label')" type="file" onclick="this.value=null" accept=".npy" />-->
<!--        <input matInput placeholder="Label File" [value]="this.LabelFile.name" disabled/>-->
<!--      </mat-form-field>-->
<!--      <button mat-button color="primary" (click)="LabelInput.click()">Label File</button>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--    <mat-grid-tile colspan="1" rowspan="1">-->
<!--    <mat-card>-->
<!--      Test-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--    <mat-grid-tile colspan="1" rowspan="1">-->
<!--    <mat-card>-->
<!--      Test-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
    <mat-grid-tile colspan="2" rowspan="2">
      <mat-card class = 'content'>
      <h1>Data Requirements</h1>
      <p>
        <mat-list>
          <mat-list-item><b>Label File:</b>*.npy [Numpy array:(DataSize,)] </mat-list-item>
          <mat-list-item><b>Feature File:</b> *.npy [Numpy array:(DatSize,Shape of an instance)]</mat-list-item>
          <mat-list-item><b>Use Clip: Use Clip</b> to extract Feature</mat-list-item>
          <mat-list-item><b>To save your dataset</b> use the following code</mat-list-item>
        </mat-list>
      </p>
        <div style="display: flex;flex-direction: row; justify-content:space-evenly;">

          <pre>{{this.code}}</pre>
          <button mat-button color="accent" [cdkCopyToClipboard]="this.code">
            <mat-icon>file_copy</mat-icon>
          </button>
        </div>
        <div>
        <button style="position:absolute;right:10%;bottom:10%"  mat-button color="accent" [disabled]="this.token == undefined" (click)="getNoise($event)">
          Get Noise Matrix
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        </div>
    </mat-card>
    </mat-grid-tile>

</mat-grid-list>

